@import 'tailwindcss';

:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #eee;
  height: 100%;
  max-width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

html {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.material-symbols-outlined.lg-18 {
  font-size: 18px;
}
